<!DOCTYPE HTML>
<html lang="en">
	<head>
		    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="Nate">
		<title><%= @post.title %></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		
	</head>
	<body>
	

<%= image_tag "Nathanial-Lubitz.png", :id => "nameLogo"%>
<!--Image obtained from textcraft.net. I really appreciate their service!-->
		<nav>
			<ul id='homeNav' class='navigate'><a href="/index.html">Home</a></ul>
			<ul id='skillsNav' class='navigate'><a href="/skills.html">Skills</a></ul>
			<ul id='portfolioNav' class='navigate'><a href="/posts">Portfolio</a></ul>
			<ul id='contactNav' class='navigate'><a href="/contact.html">Contact Me</a></ul>
		</nav>
		<br>
		<nav>
			<ul id="backNav" class='navigate'><a href="/posts">Back to posts</a></ul>
			<ul id="previousPost" class='navigate'><a href="<%= @post.id - 1 %>">Previous Post</a></ul>
			<ul id="nextPost" class='navigate'><a href="<%= @post.id + 1 %>">Next Post</a></ul>
		</nav>
		<div id="postAndDetails">
		<h1 id="postTitle">//<%= @post.title %></h1>
		<p id="postTime"><%= @post.created_at.strftime("%b/%d/%Y") %></p> <br>
		<br><br><br><br><br><br>
		<p id="postContent"><%= @post.content %></p>
		<br><br>
		</div>
				<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96530579-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
